.container, .navcontainer, h1 {
	padding: 0 30px 0 30px;
}

.container {
	max-width: 1080px;
}

.login-buttons-dropdown-align-right {
	float: right;
	margin-top: 5px;
}

.login-display-name {
	font-weight: bold;
	color: white;
}

.login-display-name:hover{
	color: grey;
}

.abhitable {
	margin-top: 20px;
	vertical-align: middle;
}

.abhitable td {
	vertical-align: middle;
}

.dataTable tr, .dataTable td {
	background-color: white !important;
}

.abhitable:not(#storyTable) td:not(.status), .abhitable:not(#storyTable) th:not(.status) {
	text-align: center;
}

.highlight {
	font-size: 18px;
	font-weight: bold;
}

.abhimedia, .abhimedia-body {
	display: inline;
	overflow: visible;
}

.itempic {
	max-width: 150px;
	max-height: 150px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.header {
	text-align: center;
}

.formtable td {
	padding-right: 10px;
}

.formtable td:first-child {
	padding-bottom: 10px;
}

.buttonRow {
	margin-top: 15px;
}

.borrowBtn {
	margin-bottom: 20px;
}

.request, .borrower {
	margin-bottom: 15px;
}

.actionBtn {
	margin: 5px 5px 5px 0;
}

.itemModal {
	max-width: 380px;
}

.navLink {
	color: white !important;
	font-size: 18px;
}

.navLink:hover {
	color: gray !important;
}