.container, h1 {
	padding: 0 30px 0 30px;
}

.login-buttons-dropdown-align-right {
	float: right;
	margin-top: 5px;
}

.login-display-name {
	font-weight: bold;
	color: white;
}

.login-display-name:hover{
	color: grey;
}

.abhitable {
	margin-top: 20px;
}

.header {
	text-align: center;
}